body			{ direction:rtl; margin:0px; font-family:Arial; color:black; font-size:14px; font-weight:normal; }
table			{ padding: 0px; margin: 0px; }
td				{ vertical-align: top; padding: 0px; }
p				{ direction: rtl; margin-top: 0px; margin-bottom: 0px; }

#LogoDiv        { margin-bottom:20px; }
#LogoImg        { width:250px; height:45px; border:0px; margin-right:10px; margin-top:10px; }

#MagazinAll         { margin-right:10px; }
#MagazinHeadline    { font-size:20px; border-bottom:1px solid gray; padding-bottom:10px; margin-bottom:20px; }

.ArticalDiv         { overflow:auto; border-bottom:1px solid gray; padding-bottom:10px; margin-bottom:20px; width:300px; }
.ArticalImg         { float:right; width:100px; height:80px; border:0px; margin-left:10px; }
.ArticalDetails     { float:right; min-width:200px; }
a.ArticalLabel      { text-decoration:none; font-size:16px; margin-bottom:3px; display:block; }
.ArticalAuther      { margin-bottom:10px; }